
:root {
    --white: #FFF;
    --black: #000;
    --verde3: #1D8348 ;
    --verde2: #196F3D ;
    --verde1: #229954 ;
}
body {
    margin: 0;
    background-color: #239B56;
    font-family: Arial, Helvetica, sans-serif;
  }

  .contenedorPrincipal{
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content:space-evenly;
      padding: 30px;
      border-radius: 10px;
      margin-left: 10%;
      margin-right: 10%;   
  }

  h1 {
    margin:30px;
    text-align: center;
    font-size: 24px;
    color: black;
  }

  .containerUno {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color:white;
    padding: 180px;
    border: 3px solid black;
    border-radius: 7px;
    width: 40%;
   
  }

  .enviar{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    background-color: var(--verde2);
    border-bottom: var(--verde2);
    color: var(--white);
   
  }

  .container
  {
    margin-left: 300px;
    margin-right: 300px;

  }

#exception{
  background-color: var(--white);
  }


  .containerDos{
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 3px solid black;
      width: 30%;
      border-radius: 8px;
      
  }


  .item:nth-child(1) {
    background-color: var(--white);
    text-align: center;
  }

  .item:nth-child(2) {
    background-color: var(--verde2);
    text-align: center;
  }
  
  .item:nth-child(3) {
    background-color: var(--verde3);
    text-align: center;
  }
  
  .item:nth-child(4) {
      background-color: var(--verde1);
      text-align: center;
  }